@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
    scroll-behavior: smooth;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #7e7d7d;
    position: relative;
    display: inline-flex; /* フレックスボックスを使用して要素を配置 */
    align-items: center;  /* アイテムを中央に配置 */
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent; /* 背景を透明に */
  }
  
  .logo span.ai {
    color: #2ecc71; /* 現代的な青緑の色 */
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px; /* アイコンとの間隔調整 */
  }
  
  .logo::before {
    content: '\25CF'; /* ニューロンを象徴するドット */
    color: #2ecc71; /* ドットの色 */
    font-size: 12px; 
    margin-right: 5px; /* テキストとの間隔調整 */
  }
  
  /* 画面に入ると要素をふわっと表示させる */
/* 初期状態を透明に設定 */
.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 0.5s;  /* 0.5秒でフェードインする設定 */
  }
  
  /* スクロール時に要素が画面に入ると、以下のクラスがJavaScriptなどで追加されることを想定 */
  .visible {
    opacity: 1;
    visibility: visible;
  }
  

.secondary-title{
    @apply text-3xl font-bold;
}

.secondary-title::before{
    content: "";
    @apply block w-12 h-2 bg-theme rounded-full mb-1;
}
.section-paragraph{
    @apply text-secondary my-6 w-full max-w-3xl;
}

.badge{
    @apply px-4 py-2 text-sm bg-badge rounded-sm;
}

/* ハンバーガーボタン */
.menuToggle {
    @apply xl:hidden text-base flex justify-center items-center z-10 w-10 h-10 bg-theme hover:bg-purple-600 transition-all duration-300 rounded-full;
}

.menuItem {
    @apply fixed space-y-16 md:space-y-24 lg:space-y-10 list-none translate-x-[-120%] shadow-xl p-10 w-1/2 h-full text-sm md:text-3xl lg:text-xl hover:text-selected-text pl-10  transition-all duration-300 z-50;
    transition: all 0.6s cubic-bezier(1,-0.19,0,1.09);
    background-color: #262626ec;
}

.menuItem li {
    @apply transform transition-transform duration-500;
}



.transX {
    transform: translateX(-10px);
}

/* bg */
@keyframes rainbow {
    0% { background-color: rgb(255, 0, 208); }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: rgb(255, 255, 255); }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: rgb(166, 0, 255); } 
  }
.circle {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #59C173;
    animation: rainbow 7s infinite; /* 7秒の間で虹色の変化を繰り返す */ 
    z-index: -2;
    
  }

  /*グラデーション  */
  .gradation{
    line-height: 0;
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5c26c158, #a17fe0, #2ecc71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5c26c158, #a17fe0, #2ecc71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  /*三角  */
  
/* 年表CSS */
.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content:left;
}
 
.event {
    position: relative; 
    cursor: pointer;
    z-index: 1; 
}

.popup {
    position: absolute;
    top: 130%;  
    line-height: 1.8;
    letter-spacing: 1px;
    background-color: #3F3F51;
    padding: 20px;
    width: 100%; 
    border-radius: 10px;
}



/* ポートフォリオ画像のホバーアニメーション */

.hover-item img {
    @apply transition-all duration-300;
}

.hover-item:hover img {
    filter: blur(5px);
}

.hover-text {
    @apply absolute z-10 left-0 bottom-0 w-full bg-gradient-to-r from-[#b8d8ff] via-[#a3fffd] to-[#f496bf] text-transparent font-bold pl-8 pb-6 text-xl text-left transform translate-y-7 opacity-0 duration-300;
    -webkit-background-clip: text;
    pointer-events: none;
}

.hover-item:hover .hover-text {
    @apply transform-none opacity-100;
}

/* レスポンシブブレークポイント: 1024px以下 (タブレットとスマホ) */
@media (max-width: 1280px) {
    .hover-item img {
        @apply filter-none;
    }

    .hover-text {
        @apply transform-none opacity-100 text-xs; /* テキストを常に表示 */
        background-color: rgba(0, 0, 0, 0.5); /* テキストの背景に少し黒を追加して読みやすくする */
    }
}


/*カルーセル*/
/* 通常のスタイル */

.slick {
    @apply w-full mx-auto overflow-hidden rounded-xl;
    perspective: 1500px;
}

.slick .slide {
    @apply relative;
}

.slick img {
    @apply w-[600px] h-[300px] object-cover transition-all duration-300;
}

.slick img:hover {
    filter: blur(5px);
}

.slick .hover-text {
    @apply absolute z-10 w-full bottom-0 bg-gradient-to-r from-[#b8d8ff] via-[#a3fffd] to-[#f496bf] text-transparent font-bold p-5 text-xl text-left transform translate-y-full opacity-0 duration-300 shadow-2xl border-black;
    -webkit-background-clip: text;
    pointer-events: none;
}

.slick .slide:hover .hover-text {
    @apply transform-none opacity-100;
}

#left-carousel, #right-carousel {
    @apply bg-black;
}

/* レスポンシブブレークポイント */
@media (max-width: 1280px) {
    .slick img {
        @apply w-[300px] h-[200px];
    }

    .slick .hover-text {
        @apply text-sm p-3 opacity-100 transform-none;
    }
}

